<div class="page__footer-follow">
  <h3>Connect with Us</h3>
  <ul class="social-icons">
    {% if site.author.github %}
      <li><a href="http://github.com/{{ site.author.github }}">GitHub</a></li> &nbsp;&nbsp;|
    {% endif %}
    {% if site.discourse.url %}
      <li><a href="https://{{ site.discourse.url }}">Community Forum</a></li> &nbsp;&nbsp;|
    {% endif %}
    {% if site.slack.url %}
      <li><a href="http://{{ site.slack.url }}">Slack</a></li> &nbsp;&nbsp;|
    {% endif %}
    {% if site.stackoverflow.url %}
      <li><a href="https://{{ site.stackoverflow.url }}">Stack Overflow</a></li> &nbsp;&nbsp;|
    {% endif %}
    {% if site.twitter.username %}
      <li><a href="https://twitter.com/{{ site.twitter.username }}">Twitter</a></li>
    {% endif %}
  </ul>
  <h4>Copyright © 2020 The Linux Foundation®. All rights reserved. The Linux Foundation has registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation, please see our <a href="https://www.linuxfoundation.org/trademark-usage">Trademark Usage</a> page. Linux is a registered trademark of Linus Torvalds. <a href="http://www.linuxfoundation.org/privacy">Privacy Policy</a> and <a href="http://www.linuxfoundation.org/terms">Terms of Use</a></h4>
</div>
