{% for nav in include.navigation %}
  <li {% if nav.collapsed %}class="collapsed"{% endif %} data-depth="{{ include.depth }}">
    {% if nav.url %}
      {% comment %} internal/external URL check {% endcomment %}
      {% if nav.url contains "://" %}
        {% assign domain = "" %}
      {% else %}
        {% assign domain = site.url | append: site.baseurl %}
      {% endif %}

      {% comment %} set "active" class on current page {% endcomment %}
      {% if nav.url == page.url %}
	{% assign active = "active" %}
      {% else %}
	{% assign active = "" %}
      {% endif %}

      <a href="{{ domain }}{{ nav.url }}" class="{{ active }}">
    {% endif %}

      <span {% if include.entitle %}class="nav__sub-title"{% endif %}>{{ nav.title }}</span>

    {% if nav.url %}
      </a>
    {% endif %}

    {% if nav.children != null %}
    <ul {% if include.depth > 1 %}class="nav__items-nested"{% endif %}>
      {% assign depth=include.depth | plus:1 %}
      {% include nav_list_entries.html navigation=nav.children depth=depth %}
    </ul>
    {% endif %}
  </li>
{% endfor %}
