.cloudproviders {
    background-color: #52adc8;
    padding: 20px;
}
.cloudproviders .images {
    list-style: none;
    padding: 0;
    margin: 15px 0 30px;
    font-size: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.cloudproviders img {
    max-width: 100%;
    max-height: 100px;
    margin: 20px;
}

.search input {
    font-family: FontAwesome, $sans-serif;
}

.suggest-edit {
    float: right;
    font-size: $type-size-8;
}

// mermaid.js sequence diagrams
.actor {
  fill: $masthead-color;
  stroke: $masthead-link-color-hover;
}
text.actor {
  fill: $masthead-link-color-hover;
  stroke: none;
}
.note {
  fill: #c0d89d;
}
.noteText {
  fill: $masthead-link-color-hover;
}

// release changelogs from GitHub Gists

.gist {
  article.markdown-body {
    h1 {
      margin-top: 0;
      font-size: $type-size-3;
    }

    h2 {
      font-size: $type-size-4;
    }

    h3 {
      font-size: $type-size-5;
    }

    h4 {
      font-size: $type-size-5;
    }

    h5 {
      font-size: $type-size-6;
    }

    h6 {
      font-size: $type-size-6;
    }
  }

  p, dl, li {
    font-size: 0.7rem;
  }
}
