/* ==========================================================================
   PAGE SUCCESS STORIES
   ========================================================================== */

   .success-stories-container {
       margin-top: 450px;
       display: grid;
       grid-template-columns: repeat(3, calc(33% - 10px) );
       justify-content: space-between;

       article {
           text-align: center;

           h3 {
               font-size: 1.5em;
           }

           h5 {
               font-size: .9em;
               font-weight: bold;
               margin-bottom: 15px;
               padding: 0 20px;
           }

           p {
               font-size: .75em;
               padding: 0 20px;
           }

           span {
                font-size: 1.2em;
                font-weight: bold;
           }

           figure {
               margin: 0;
               position: relative;

               img {
                    margin: 0;
                    border: 1px solid #159bb4;
                    border-radius: 0;
                    box-shadow: -5px 5px 1px 2px rgba(#159bb4, .9);
                    padding: 0;
               }

               &:before {
                    transition: opacity .3s ease-in-out;
                    content: '';
                    display: block;
                    position: absolute;
                    top: -6px;
                    left: 6px;
                    width: 100%;
                    height: 100%;
                    background:rgba(#159bb4, .5);
                    opacity: 0;
                }
           }

           a {
               color: black;

               &:hover {
                   text-decoration: none;

                   figure {
                       &:before {
                            opacity: 1;
                       }
                   }

                   img {
                        box-shadow: -5px 5px 1px 2px rgba(#159bb4, .9);
                   }
               }
           }
       }
   }

   @media (max-width: 900px) {
    .success-stories-container {
            grid-template-columns: repeat(2, calc(50% - 10px) );
        }
   }

   @media (max-width: 450px) {
    .success-stories-container {
            grid-template-columns: repeat(1, calc(100% - 10px) );
        }
   }