---
layout: splash
---

<div class="spin_header success-stories-header">
    <img class="spin_header__swoosh" src="{{ "assets/images/top-right-swoosh.svg" | absolute_url }}" alt="Spinnaker Swoosh"/>
    <div class="spin_header__inner_wrap">

        {% include masthead.html %}

        <div class="spin_header__text">
            <h1><img src="../success-stories/stories.svg" width="80" alt="Logo"> {{ page.title }}</h1>
            <h2>{{ page.intro }}</h2>
            <p>{{page.description}}</p>
        </div>

    </div>
</div>


<div id="stories-main" role="main">
  <article itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
        {% if page.modified %}<meta itemprop="dateModified" content="{{ page.modified | date: "%B %d, %Y" }}">{% endif %}

        
        {{ content }}


    </article>
</div>

