---
layout: success-stories
title:  "Success Stories"
intro: "Real world use cases about the transformative power of Spinnaker"
description: "See how developers are the key change agents in their companies."
sidebar:
  nav: success-stories
---

<div class="success-stories-container">
    {% for story in site.data.success-stories.cases %}
        <article>
            <a href="{{story.link}}" target="_blank">
                <h4>{{story.name}}</h4>
                <figure>
                    <img src="{{story.logo}}" alt="{{story.name}}">
                </figure>

                <p class="text">{{story.text}}</p>

                <span>> Learn</span>
            </a>
        </article>
    {% endfor %}
</div>

<div class="testimonials-container">
    <h3>Testimonials</h3>

    <p>
        Want to share your Spinnaker Success Story? <a href="https://spinnaker.formstack.com/forms/spinnaker_testimonials" target="_blank">Click here!</a>
    </p>

    <div class="testimonials-wrapper">
        {% for test in site.data.success-stories.testimonials %}
            <article>
                <header>
                    <figure>
                        <img src="{{test.logo}}" alt="{{test.name}}">
                    </figure>
                </header>

                <div class="questions-wrapper">
                    {% for quest in test.questions %}
                        <p class="question">{{quest.question}}</p>
                        <p class="answer">{{quest.answer}}</p>
                    {% endfor %}
                </div>
            </article>
        {% endfor %}
    </div>

    <p>
        Want to share your Spinnaker Success Story? <a href="https://spinnaker.formstack.com/forms/spinnaker_testimonials" target="_blank">Click here!</a>
    </p>
</div>
<div class="videos-container">
    <h3>Videos</h3>
    <p>Conference talks, interviews, and video testimonials from the Spinnaker Community</p>
    <div class="videos-wrapper">
      <h4>Jens Vanderhaeghe of Airbnb on Migrating From Custom Deployment Tooling To Spinnaker</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/vQCkAkya_Yg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <h4>Brian Benke of Cisco on Contributing to Open Source Spinnaker & Migration from On-Prem to Cloud Native</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/i_IO2G-aNhI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <h4>Brandon Leach of Autodesk on Overcoming Organizational Challenges in Implementing CD with Spinnaker</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/qcXrJECtDqY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <h4>Andy Glover on How Netflix Runs Spinnaker at Scale</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/dPgiBXRJ3zs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <h4>Nora Lutz & Andrew Phillips on Spinnaker Canary Deployments With Istio and Kubernetes</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/CmZWau04ZS4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <h4>Anne Cesa Klein on Early Adoption of Spinnaker Across Teams at Pure Storage</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/sCDbS5bAoWU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>

</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<img class="bottom-right-swoosh" src="{{ "assets/images/bottom-right-swoosh.svg" | absolute_url }}" alt="Spinnaker Swoosh"/>
